# .env.example
API_TITLE=Gateway OPC UA Industrial (Mock)
API_PORT=8000
ENVIRONMENT=development

# Configurações OPC UA (Apontando para o Mock Server local/Docker)
# Se rodar via Docker, use: opc.tcp://host.docker.internal:4840/freeopcua/server/
# Se rodar via Python local, use: opc.tcp://127.0.0.1:4840/freeopcua/server/
OPC_UA_SERVER_URL=opc.tcp://host.docker.internal:4840/freeopcua/server/
OPC_UA_RECONNECT_TIMEOUT_SEC=5